[submodule "contrib/M2-Planet"]
	path = contrib/M2-Planet
	url = https://github.com/oriansj/M2-Planet.git
[submodule "contrib/mcpp"]
	path = contrib/mcpp
	url = https://gitlab.com/giomasce/mcpp.git
[submodule "contrib/fasm"]
	path = contrib/fasm
	url = https://gitlab.com/giomasce/fasm.git
[submodule "contrib/tinycc"]
	path = contrib/tinycc
	url = https://gitlab.com/giomasce/tinycc.git
[submodule "contrib/ipxe"]
	path = contrib/ipxe
	url = https://gitlab.com/giomasce/ipxe.git
[submodule "contrib/mm0"]
	path = contrib/mm0
	url = https://github.com/digama0/mm0.git
[submodule "contrib/single_cream"]
	path = contrib/single_cream
	url = https://github.com/rain-1/single_cream.git
