[submodule "contrib/M2-Planet"]
	path = contrib/M2-Planet
	url = https://github.com/oriansj/M2-Planet.git
[submodule "contrib/mcpp"]
	path = contrib/mcpp
	url = https://gitlab.com/giomasce/mcpp.git
[submodule "contrib/fasm"]
	path = contrib/fasm
	url = https://gitlab.com/giomasce/fasm.git
[submodule "contrib/tinycc"]
	path = contrib/tinycc
	url = git://repo.or.cz/tinycc.git
